<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>pubg api example</title>
</head>
<body>
<p>Origin: {{Origin}}</p>
<p>Kdr: {{Kdr}}</p>
<p>KillPoints: {{KillPoints}}</p>
<p>Kills: {{Kills}}</p>
<p>MostKills: {{MostKills}}</p>
<p>Nickname: {{Nickname}}</p>
<p>PercentRank: {{PercentRank}}</p>
<p>Playtime: {{Playtime}}</p>
<p>Rank: {{Rank}}</p>
<p>Rating: {{Rating}}</p>
<p>Top10s: {{Top10s}}</p>
<p>WinPoints: {{WinPoints}}</p>
<p>WinRatio: {{WinRatio}}</p>
<p>Wins: {{Wins}}</p>
</body>
</html>